.custom-btn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 100px;
  background: #7b7b7b;
  color: #ffffff;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: background 0.2s;

  &:hover {
    background: #204080;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #7b7b7b;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    font-size: 20px;
  }

  &__text {
    white-space: nowrap;
  }
}
